body {
  background-color:black;
  color:white;
}
h1 {
  font-size: 20px
}
p {
  font-size: 12px;
  color: green;
}
.divelement {
  border-style: dotted;
  border-width: 100px;
  border-height: 100px;
}
ul {
  list-style-type: square;
}
ol {
  list-style-type: upper-roman;
}
